PORT=3001

STEAM_REALM=http://localhost:3001
STEAM_RETURN_URL=http://localhost:3001/auth/steam/callback

JWT_SECRET=insert-secret-here
JWT_EXPIRES_IN=30m

STEAM_API_KEY=insert-steam-api-key-here

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/steam-profile?schema=public